.containerAllCards{
    height: 100%;
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    overflow-y: scroll;
}
.containerCards{
    width: 157px;
    height: 196px;
    margin: 12px 20px 12px 20px;
}
.name{
    position: relative;
    top: 40px;
    margin: 0px 10px 0px 25px;
    background-color: #fff;
    padding: 9px;
    border-radius: 5px;
}
.img{
    width: 157px;
    height: 196px;
    border-radius: 5px;
}
.price{
    position: relative;
    bottom: 35px;
    left: 70%;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
}
