<section class="viewWaiterSection">
    <div class="containerHeaderSection">
            <mat-toolbar class="containerHeader"> 
            <span> Cicy's Burger</span> 
            <button id="viewOrders">Ver Pedidos</button>
          </mat-toolbar>
    </div>
    <div>
        <mat-sidenav-container>
            <mat-sidenav mode="side" opened>
            <fa-icon class="iconLateralMenu" [icon]="faUtensils"></fa-icon>
            <p>Todos</p>
            <fa-icon class="iconLateralMenu" [icon]="faCoffee"></fa-icon>
            <p>Desayuno</p>
            <fa-icon class="iconLateralMenu" [icon]="faBurger"></fa-icon>
            <p>Almuerzo y cena</p>
            <fa-icon class="iconLateralMenu" [icon]="faChampagneGlasses"></fa-icon>
            <p>Bebidas</p>
            <fa-icon id="logOut" [icon]="faRightFromBracket"></fa-icon>
            </mat-sidenav>
        </mat-sidenav-container>
    </div>
    <div class="containerOrderAndFood">
        <div class="allCards">    
            <div class="containerFood">
                <img src="#">
                <p>Café con leche</p>
                <p>$7</p>
            </div>
            <div class="containerFood">
                <img src="#">
                <p>Café americano</p>
                <p>$10</p>
            </div>
        </div>
        <div class="containerOrder">
            <p>Mesero</p>
            <p>ID:</p>
        </div>
        <button id="deliverOrder">Entregar Orden</button>   
    </div>
</section>