<section class="viewWaiterSection">
    <div class="containerHeaderSection">
        <div class="containerHeader">
            <div class="logoAndName">
                <img id="logo" src="#">
                <h1>CiCy's Burger</h1>
            </div>
            <button id="viewOrders">Ver Pedidos</button>
        </div>
    </div>
    <div class="lateralMenu">
        <div class="containerIcons">
            <fa-icon class="iconLateralMenu" [icon]="faUtensils"></fa-icon>
            <p>Todos</p>
            <fa-icon class="iconLateralMenu" [icon]="faCoffee"></fa-icon>
            <p>Desayuno</p>
            <fa-icon class="iconLateralMenu" [icon]="faBurger"></fa-icon>
            <p>Almuerzo y cena</p>
            <fa-icon class="iconLateralMenu" [icon]="faChampagneGlasses"></fa-icon>
            <p>Bebidas</p>
            <fa-icon id="logOut" [icon]="faRightFromBracket"></fa-icon>
        </div>  
    </div>  
    <div class="containerOrderAndFood">
        <div class="allCards">    
            <div class="containerFood">
                <img src="#">
                <p>Café con leche</p>
                <p>$7</p>
            </div>
            <div class="containerFood">
                <img src="#">
                <p>Café americano</p>
                <p>$10</p>
            </div>
        </div>
        <div class="containerOrder">
            <p>Mesero</p>
            <p>ID:</p>
        </div>
        <button id="deliverOrder">Entregar Orden</button>   
    </div>
</section>