@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    background-color: palevioletred;
}
.logInSection{
    font-family: 'Poppins', sans-serif;
}
.containerInputs{
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 30px;
    border: none;
    background-color: #fff;
    height:45px;
    width: 339px;
    margin: 10px 0px 30px 0px;
}
label{
    font-weight: 900;
    margin-left: 15px;
}
a{
    background-color: black;
    color: #fff;
    border-radius: 30px;
    height:45px;
    width: 339px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}