.logInSection{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(221.67deg, #FD6B5A 3.85%, #FFFFFF 110.33%);
    background-repeat: no-repeat;
    height: 100%;
}
.containerLogin{
    display: grid;
    grid-template-areas: "img log-in";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}
.containerHeader img{
    margin: 0px 0px 0px 15px;
}

.containerFormSection{
    grid-area: log-in;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
}
button{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
}
.loginImageContainer{
    grid-area: img;
    background-image: url(./../../../assets/img/imgLogIn.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}