
.logInSection{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(221.67deg, #FD6B5A 3.85%, #FFFFFF 110.33%);
    background-repeat: no-repeat;
    height: 100vh;

}
.containerLogin{
    display: grid;
    grid-template-areas: "img log-in";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}
.containerFormSection{
    grid-area: log-in;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}
.containerFirstImg{
    grid-area: img;
    background-image: url(./../../../assets/img/imgLogIn.png);
    background-size: 210%;
    background-repeat: no-repeat;
}
.containerHeader img{
    margin: 0px 0px 0px 35px;
}
.containerHeader h1{
    font-size: 30px;
}
.containerInputs{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 20px;
    font-weight: 900;
    margin-left: 15px;
}
button, select, input{
    background-color: black;
    color: #fff;
    border-radius: 30px;
    height:45px;
    width: 339px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}
input, select{
    border: none;
    background-color: #fff;
    margin: 0px 0px 30px 0px;
    color: black;
}
option{
    color: black;
    font-family: 'Poppins', sans-serif;
}