    <!-- <section class="navbarLateral">
        <mat-sidenav-container class="lateralMenu">
            <mat-sidenav mode="side" opened>
            <div>
            <fa-icon class="iconLateralMenu" [icon]="faUtensils"></fa-icon>
            <p>Todos</p>
            </div>

            <div (click)="filterProducts()">
            <fa-icon class="iconLateralMenu" [icon]="faCoffee"></fa-icon>
            <p>Desayuno</p>
            </div>

            <div>
            <fa-icon class="iconLateralMenu" [icon]="faBurger"></fa-icon>
            <p>Almuerzo y cena</p>
            </div>

            <div>
            <fa-icon class="iconLateralMenu" [icon]="faChampagneGlasses"></fa-icon>
            <p>Bebidas</p>
            </div>
            <fa-icon id="logOut" [icon]="faRightFromBracket"></fa-icon>
            </mat-sidenav>
        </mat-sidenav-container>
    </section> -->
