<div>
    <mat-sidenav-container class="lateralMenu">
            <div class="containerIcon">
                <div class="boxIcon">
                    <fa-icon class="iconLateralMenu" [icon]="faUtensils"></fa-icon>
                    <h5>All</h5>
                </div>
                <div class="boxIcon">
                    <fa-icon class="iconLateralMenu" [icon]="faCoffee"></fa-icon>
                    <h5>Breakfast</h5>
                </div>
                <div class="boxIcon">                    
                    <fa-icon class="iconLateralMenu" [icon]="faBurger"></fa-icon>
                    <h5>Lunch</h5>
                </div>
                <div class="boxIcon">
                    <fa-icon class="iconLateralMenu" [icon]="faChampagneGlasses"></fa-icon>
                    <h5>Drinks</h5>
                </div>
                <div class="iconLogOut">
                    <fa-icon class="iconLateralMenu" id="logOut" [icon]="faRightFromBracket"></fa-icon>
                </div>
            </div>
    </mat-sidenav-container>
</div>
