<section class="viewWaiterSection">
    <div class="containerHeaderSection">
        <mat-toolbar class="containerHeader">
        <div class="containerLogoAndName">
        <img src="../../../assets/img/burgerLogo.png">
        <h1> Cicy's Burger </h1> 
        </div>
        <button id="viewOrders">Ver Pedidos</button>
      </mat-toolbar>
</div>
</section>
<section class="containerNavBarLateral">
    <app-navbar-lateral></app-navbar-lateral>
</section>
<section class="containerFoodList">
    <app-food-list></app-food-list>  
</section>